<div class="absolute w-0 h-0 overflow-hidden">
  {%- render 'icon' with 'icon-chevron-right' -%}
  {%- render 'icon' with 'icon-chevron-left' -%}
  {%- render 'icon' with 'icon-chevron-forward-outline' -%}
  {%- render 'icon' with 'icon-chevron-back-outline' -%}
  {%- render 'icon' with 'icon-chevron-back-outline-thin' -%}
  {%- render 'icon' with 'icon-arrow-forward-outline' -%}
  {%- render 'icon' with 'icon-info-circle' -%}
  {%- render 'icon' with 'icon-checkmark-outline' -%}
  {%- render 'icon' with 'icon-close-outline' -%}
  {%- render 'icon' with 'icon-close' -%}
  {%- render 'icon' with 'icon-shopping-bag' -%}
  {%- render 'icon' with 'icon-filter' -%}
  {%- render 'icon' with 'icon-menu' -%}
  {%- render 'icon' with 'icon-user-circle' -%}
  {%- render 'icon' with 'icon-search' -%}
  {%- render 'icon' with 'icon-heart-outline' -%}
  {%- render 'icon' with 'icon-plus' -%}
  {%- render 'icon' with 'icon-minus' -%}
  {%- render 'icon' with 'icon-truck' -%}
  {%- render 'icon' with 'icon-exclamation-triangle' -%}
  {%- render 'icon' with 'icon-chevron-up-outline' -%}
  {%- render 'icon' with 'icon-chevron-down-outline' -%}
  {%- render 'icon' with 'icon-pulse' -%}
  {%- render 'icon' with 'icon-phone' -%}
  {%- render 'icon' with 'icon-chatbox' -%}
  {%- render 'icon' with 'icon-list' -%}
  {%- render 'icon' with 'icon-grid' -%}
  {%- render 'icon' with 'icon-chevron-down-outline-2' -%}
  {%- render 'icon' with 'icon-chevron-down-outline-3' -%}
  {%- render 'icon' with 'icon-close' -%}
  {%- render 'icon' with 'icon-close-circle-outline' -%}
  {%- render 'icon' with 'icon-close-bold' -%}
  {%- render 'icon' with 'icon-login' -%}
  {%- render 'icon' with 'icon-clipboard-outline' -%}
  {%- render 'icon' with 'icon-mail-outline' -%}
  {%- render 'icon' with 'icon-newspaper' -%}
  {%- render 'icon' with 'icon-chevron-forward-outline-thin' -%}
  {%- render 'icon' with 'icon-wishlist' -%}
  {%- render 'icon' with 'icon-bookmark-outline' -%}
  {%- render 'icon' with 'icon-close-outline-1' -%}
  {%- render 'icon' with 'icon-elipsis-outline' -%}
  {%- render 'icon' with 'icon-trash' -%}
  {%- render 'icon' with 'icon-share' -%}
  {%- render 'icon' with 'icon-link-outline' -%}
  {%- render 'icon' with 'icon-facebook-outline' -%}
  {%- render 'icon' with 'icon-twitter-outline' -%}
  {%- render 'icon' with 'icon-calendar-outline' -%}
</div>
