{%- render 'breadcrumbs',
  class: 'py-4 lg:py-8 bg-grey-100',
  item_class: 'text-med text-link [&>a]:no-underline',
  item_current_class: 'text-med text-secondary underline'
-%}

<div class="flex items-center justify-center text-center bg-grey-100">
  <div class="px-4 py-12 lg:py-[172px] flex flex-col gap-3">
    {%- if section.settings.title != blank -%}
      <h3 class="text-2xl font-bold font-body text-grey-900 lg:text-3xl">
        {{- section.settings.title -}}
      </h3>
    {%- endif -%}

    {%- if section.settings.content != blank -%}
      <p class="text-sm font-normal font-lato text-grey-600">
        {{- section.settings.content -}}
      </p>
    {%- endif -%}

    {%- if section.settings.cta_text != blank and section.settings.cta_link != blank -%}
      <div class="flex items-center justify-center gap-4 ">
        {%- render 'button',
          class: 'button-primary',
          link_text: section.settings.cta_text,
          link_url: section.settings.cta_link,
          class_text: 'normal-case px-[18px]'
        -%}
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Template 404",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Page not found"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Content",
      "default": "We can't seem to find the page you're looking for."
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA Text",
      "default": "Back to home"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "CTA Link"
    }
  ],
  "presets": [
    {
      "name": "Template 404"
    }
  ]
}
{% endschema %}
