{%- if blocks.size > 0 -%}
  <div class="flex gap-x-3 gap-y-2">
    {%- for block in blocks -%}
      {%- if block.settings.icon_link != blank -%}
        <a href="{{- block.settings.icon_link -}}" class="w-auto h-6 rounded" title="Payment icon">
      {%- else -%}
        <div class="w-auto h-6 rounded">
      {%- endif -%}
        {%- render 'image',
          image: block.settings.image,
          class: 'w-full h-full',
          object_fit: 'contain'
        -%}
      {%- if block.settings.icon_link == blank -%}
        </div>
      {%- else -%}
        </a>
      {%- endif -%}
    {%- endfor -%}
  </div>
{%- else -%}
  {%- assign enabled_payment_types = 'master,visa,american_express,paypal,apple_pay,afterpay' | remove: ' ' | split: ',' -%}
  <div class="flex gap-x-3 gap-y-2">
    {%- for type in enabled_payment_types -%}
      <div class="w-auto h-6 rounded">
        <img
          src="{{- type | payment_type_img_url -}}"
          alt="{{- type -}}"
          loading="lazy"
          class="object-contain w-full h-full"
          width="35"
          height="24"
        >
      </div>
    {%- endfor -%}
  </div>
{%- endif -%}