<section class="mb-12 py-2">
  <div class="container">
    <table class="min-w-full border">
      <thead>
        <tr>
          <th class="border p-4 text-left">Display</th>
          <th class="border p-4 text-left">Token</th>
          <th class="border p-4 text-left">Size</th>
          <th class="border p-4 text-left">Line-height</th>
          <th class="border p-4 text-left">Weight</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="h1 border p-4">h1</td>
          <td class="border p-4">
            <div class="rounded-md bg-grey-100 p-2">text-5xl</div>
          </td>
          <td class="border p-4">48px</td>
          <td class="border p-4">56px</td>
          <td class="border p-4">700</td>
        </tr>
        <tr>
          <td class="h2 border p-4">h2</td>
          <td class="border p-4">
            <div class="rounded-md bg-grey-100 p-2">text-4xl</div>
          </td>
          <td class="border p-4">36px</td>
          <td class="border p-4">44px</td>
          <td class="border p-4">700</td>
        </tr>
        <tr>
          <td class="h3 border p-4">h3</td>
          <td class="border p-4">
            <div class="rounded-md bg-grey-100 p-2">text-3xl</div>
          </td>
          <td class="border p-4">30px</td>
          <td class="border p-4">36px</td>
          <td class="border p-4">700</td>
        </tr>
        <tr>
          <td class="h4 border p-4">h4</td>
          <td class="border p-4">
            <div class="rounded-md bg-grey-100 p-2">text-2xl</div>
          </td>
          <td class="border p-4">24px</td>
          <td class="border p-4">32px</td>
          <td class="border p-4">700</td>
        </tr>
        <tr>
          <td class="h5 border p-4">h5</td>
          <td class="border p-4">
            <div class="rounded-md bg-grey-100 p-2">text-xl</div>
          </td>
          <td class="border p-4">20px</td>
          <td class="border p-4">28px</td>
          <td class="border p-4">700</td>
        </tr>
        <tr>
          <td class="h6 border p-4">h6</td>
          <td class="border p-4">
            <div class="rounded-md bg-grey-100 p-2">text-lg</div>
          </td>
          <td class="border p-4">18px</td>
          <td class="border p-4">24px</td>
          <td class="border p-4">700</td>
        </tr>
        <tr>
          <td class="border p-4 text-base font-bold">Body Bold</td>
          <td class="border p-4">
            <span class="rounded-md bg-grey-100 p-2">text-sm</span>
          </td>
          <td class="border p-4">15px</td>
          <td class="border p-4">24px</td>
          <td class="border p-4">700</td>
        </tr>
        <tr>
          <td class="border p-4 text-sm">Body</td>
          <td class="border p-4">
            <span class="rounded-md bg-grey-100 p-2">text-sm</span>
          </td>
          <td class="border p-4">15px</td>
          <td class="border p-4">24px</td>
          <td class="border p-4">400</td>
        </tr>
        <tr>
          <td class="border p-4 text-xs">Body small</td>
          <td class="border p-4">
            <span class="rounded-md bg-grey-100 p-2">text-xs</span>
          </td>
          <td class="border p-4">12px</td>
          <td class="border p-4">16px</td>
          <td class="border p-4">400</td>
        </tr>
        <tr>
          <td class="link border p-4">Text Link</td>
          <td class="border p-4">
            <span class="rounded-md bg-grey-100 p-2 text-sm">link</span>
          </td>
          <td class="border p-4">15px</td>
          <td class="border p-4">24px</td>
          <td class="border p-4">400</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
