<div class="py-2">
  <div class="container">
    <div class="grid gap-6 md:grid-cols-3">
      <div class="flex flex-col">
        <table class="min-w-full divide-y divide-gray-300">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Code</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Preview</th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-menu</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-menu' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-shopping-bag</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-shopping-bag' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-close-outline</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-close-outline' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-close-circle-outline</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-close-circle-outline' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-truck</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-truck' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-search</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-search' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-facebook</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-facebook' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-instagram</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-instagram' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-pinterest</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-pinterest' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-user-circle</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-user-circle' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-heart-outline</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-heart-outline' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-chevron-right</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-chevron-right' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-chevron-left</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-chevron-left' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-arrow-forward-outline</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-arrow-forward-outline' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-chevron-up-outline</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-chevron-up-outline' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-chevron-down-outline</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-chevron-down-outline' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-chevron-forward-outline</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-chevron-forward-outline' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-chevron-back-outline</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-chevron-back-outline' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-checkmark-outline</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-checkmark-outline' -%}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="flex flex-col">
        <table class="min-w-full divide-y divide-gray-300">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Code</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Preview</th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-filter</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-filter' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-plus</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-plus' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-minus</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-minus' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-location</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-location' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-phone</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-phone' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-info-circle</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-info-circle' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-arrow-up-right</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-arrow-up-right' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-list-circle</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-list-circle' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-lock-closed</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-lock-closed' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-grid</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-grid' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-bookmark</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-bookmark' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-link</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-link' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-download</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-download' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-chatbox</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-chatbox' -%}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="flex flex-col">
        <table class="min-w-full divide-y divide-gray-300">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Code</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Preview</th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-newspaper</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-newspaper' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-clipboard-outline</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-clipboard-outline' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-mail-outline</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-mail-outline' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-login</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-login' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-logout</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-logout' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-zoom</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-zoom' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-ellipsis</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-ellipsis' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-visa</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-visa' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-amex</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-amex' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-mastercard</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-mastercard' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-paypal</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-paypal' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-googlepay</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-googlepay' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-applepay</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-applepay' -%}
              </td>
            </tr>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">icon-zip</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
                {%- render 'icon' with 'icon-zip' -%}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
